# give me a template azure pipelines file for running the mkdocs build command, then running the docker build and pushing to a repo.
trigger:
- main
pool:
  vmImage: 'ubuntu-latest'  
steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true
- script: |
    python -m pip install --upgrade pip
    pip install mkdocs
  displayName: 'Install MkDocs'
- script: |
    mkdocs build -f mkdocs/mkdocs.yml --site-dir mkdocs/site
  displayName: 'Build MkDocs Site'

- task: Docker@2
  displayName: Docker login
  inputs:
    command: login
    containerRegistry: push-dogsbody.azurecr.io

- task: Docker@2
  inputs:
    containerRegistry: 'push-dogsbody.azurecr.io'
    repository: 'dogsbodydocs'
    command: 'buildAndPush'
    Dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
    tags: 'latest'
  displayName: 'Build and Push Docker Image'

