# give me a template azure pipelines file for running the mkdocs build command, then running the docker build and pushing to a repo.
trigger:
- main
pool:
  vmImage: 'ubuntu-latest'  
steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true
- script: |
    python -m pip install --upgrade pip
    pip install mkdocs
  displayName: 'Install MkDocs'
- script: |
    mkdocs build -f mkdocs/mkdocs.yml --site-dir mkdocs/site
  displayName: 'Build MkDocs Site'

- task: Docker@2
  displayName: Docker login
  inputs:
    command: login
    containerRegistry: push-dogsbody.azurecr.io

- task: Docker@2
  inputs:
    containerRegistry: 'push-dogsbody.azurecr.io'
    repository: 'dogsbodydocs'
    command: 'buildAndPush'
    Dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
    tags: 'latest'
  displayName: 'Build and Push Docker Image'

- script: |
    curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
    syft push-dogsbody.azurecr.io/dogsbodydocs:latest -o spdx-json=sbom.json
  displayName: 'Generate SBOM with Syft'

- script: |
    curl -sSfL https://github.com/oras-project/oras/releases/download/v1.3.0/oras_1.3.0_linux_amd64.tar.gz
    tar -xzf oras_1.3.0_linux_amd64.tar.gz -C /usr/local/bin oras
    oras push push-dogsbody.azurecr.io/dogsbodydocs:latest --artifact-type application/vnd.oci.image.layer.v1+spdx --annotation org.opencontainers.image.title="SBOM for dogsbodydocs" --annotation org.opencontainers.image.description="SBOM generated by Syft for dogsbodydocs" --annotation org.opencontainers.image.version="1.0.0" --annotation org.opencontainers.image.created="$(date -u +"%Y-%m-%dT%H:%M:%SZ")" sbom.json
  displayName: 'Push SBOM to Container Registry'

